/* using flex to make the skeleton and its' items as responsive as possible */

.skeleton{
    display: flex;
    flex-flow: column wrap;
    justify-content: safe center;
    align-items: center;
    flex-basis: auto;
}

.skeleton > * {
    font-family: acumin-pro, system-ui, sans-serif;
    color: white;
    padding: 10px;
    flex-basis: auto;
    overflow: hidden;

}

/* making a fixed background for the 2-dimensional feel */
.wrapper {
    background-image: url("https://miro.medium.com/max/2880/1*0tYTCK1smzGUugzFZiPcPQ.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #ffffff;
}

/* setting header style up */
.header {
    text-align: center;
    background-color: rgba(85,122,149,0.4);
    background-image: url("https://miro.medium.com/max/2880/1*0tYTCK1smzGUugzFZiPcPQ.jpeg");
    background-blend-mode: color-burn;
    opacity: 0.8;
    cursor: default;
}

/* using flex to make thumbnails and titles auto scale easily */
.thumbnails > div {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
}

/* giving titles a background so they can be seen on white background */
.thumbnails > div > h2 {
    font-size: 200%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* making them do cool stuff on hover so the user knows they can click on it */
.thumbnails > div > h2:hover,
.thumbnails > div > h2:focus {
    color: rgba(0, 0, 0, 0.4);
    text-decoration: none;
    cursor: pointer;
}

/* scaling images */
img {
    height: 80%;
    width: 80%;
    padding: 30px;
    cursor: pointer;
}

/* setting modal background up */
.info {
    display: none;
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* enable scroll */
    background-color: rgba(0, 0, 0, 0.8);
    flex-flow: column;
    text-align: center;
    scroll-snap-align: center;
    scroll-behavior: smooth;
}

/* setting the actual modal up */
.info > .content {
    display: flex;
    flex-flow: column wrap;
    background-color: rgba(100%, 100%, 100%, 0.6);
    color: #2f2f2f;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* making sure the close button is properly placed and reacts to hovering*/
#close {
    color: black;
    font-size: xx-large;
    font-weight: bold;
    align-self: flex-end;
}

#close:hover,
#close:focus {
    color: antiquewhite;
    text-decoration: none;
    cursor: pointer;
}

/* making sure the movie info is left aligned and properly set up */
#data > * {
    font-size: larger;
    list-style-type: none;
    text-align: left;
    padding: 10px;
}

/* making the youtube trailer have correct propertions */
iframe {
    width: 100%;
    height: 25vh;
}

/* setting up the footer */
.footer {
    display: flex;
    flex-flow: column wrap;
    font-family: acumin-pro, system-ui, sans-serif;
    color: #2f2f2f;
    background-color: #fff;
}

.footer > * {
    text-align: center;
}

/* desktop setup */
@media (min-width: 1200px) {
    .skeleton {
        display: grid;
    }

    .header {
        text-align: center;
        background-color: rgba(85,122,149,0.4);
        background-image: none;
    }


    /* select thumbnails and title */
    .wrapper > .thumbnails > *{
        display: flex;
        flex-flow: row;
    }

    img {
        height: 35%;
        width: 35%;
        padding: 30px;
        transition: .5s ease;
        opacity: 0.8;
    }

    /* making them do cool stuff on hover so the user knows they can click on it */
    img:hover,
    img:focus {
        opacity: 1;
    }

    .thumbnails > div > h2 {
        background-color: unset;
        font-size: 200%;
        background-color: unset;
    }

    .content-things {
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
    }

    iframe {
        width: 100%;
        height: 50vh;
    }

    /* Using flex to easily place items with spacing */
    .footer {
        justify-content: space-between;
        flex-flow: row wrap;
    }

    #left {
        order: 1;
    }

    #middle {
        order: 2;
    }

    #right {
        order: 3;
    }
}
